<div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <% if (user) { %>
            <h4>Welcome, <%= user.displayName %></h4>
            <button id="btnShowEvents" onclick="location.href='/events';" class="btn btn-primary">Show events</button>
        <% } else { %>
            <!-- Display the sign-in button or other content for non-logged in users -->
        <% } %>
      </div>
    </div>
  </div>
  