<div class="row">
    <!-- Main Content -->
    <div class="col-lg-8">
        <% if (user && user.displayName) { %>
            <h4>Welcome, <%= user.displayName %></h4>
            <p>Click here to see what's going on in your calendar.</p>
            <button id="btnShowEvents" onclick="location.href='/events';" class="btn btn-primary mb-3">Show events</button>
        <% } else { %>
            <h4>Welcome to My Calendar Buddy!</h4>
            <p>Sign in to access personalized features and manage your permissions.</p>
        <% } %>
    </div>

    <!-- Right sidebar for permissions -->
    <div class="col-lg-4 pl-4 pr-3" style="border-left: 1px solid #e0e0e0;">
        <% if (user && user.displayName) { %>
            <h5>Permissions Used</h5>
            <% 
                const permissionsList = ['User.Read', 'Calendars.Read', 'Calendars.ReadWrite', 'Calendars.ReadBasic', 'Calendars.Read.Shared'];

                permissionsList.forEach(permission => {
            %>
            <div style="padding-bottom: 5px;">
                <% if (grantedPermissions.includes(permission)) { %>
                    <p><%= permission %></p>
                <% } else { %>
                    <button onclick="location.href='/consent?permission=<%= permission %>';" class="btn btn-secondary btn-block">Consent for <%= permission %></button>
                <% } %>
            </div>
            <% 
                }); 
            %>
        <% } else { %>
            <a id="signin" href="/signin">
                <img src="./images/ms-symbollockup_signin_light.png" alt="Sign in with Microsoft" class="mb-3"/>
            </a>
        <% } %>
    </div>
</div>