<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a id="signin" href="/signin">
                <img src="./images/ms-symbollockup_signin_light.png" alt="Sign in with Microsoft" />
              </a>
        </div>
    </div>
</div>