<h1>Your Next Seven Days</h1>
<div id="eventWrapper">
    <p class="mb-4">Use this form to describe what you need to get done over the next seven days and I'll create a schedule for you that you can import into your existing Outlook</p>
<textarea id="tasksInput" placeholder="Type what you need to do this week" class="form-control mb-3" style="height: 100px;"></textarea>
<button id="generateSchedule">Generate Schedule</button>
<div id="scheduleDisplay"></div>
<button id="downloadICS" style="display: none;">Download .ics</button>
    
    <% if(events.length != 0) { %>
        <div class="scrollable-events mb-3 bg-light rounded p-3" style="height: 600px; overflow-y: auto;">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Organizer</th>                           
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = events.length - 1; i >= 0; i--) { %>
                        <tr>
                            <td><%= events[i].subject %></td>
                            <td><%= ((events[i].start.dateTime).split(".")[0]) %></td>
                            <td><%= ((events[i].end.dateTime).split(".")[0]) %></td>
                            <td><%= events[i].organizer.emailAddress.name %></td>
                        </tr>
                    <% } %>
                    
                </tbody>
            </table>
        </div>
    <% } else { %>
        <h3 class="mb-3">No Events Found</h3>
        <p class="mb-3">Please manually enter CSV file of events</p>
        <textarea id="events" class="form-control mb-3"></textarea>
        <input type="submit" class="btn btn-primary" value="Upload" />
    <% } %>
</div>


